*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    --theme-blue: #260099;
    --theme-red:  #b30000;
    --theme-white: #fae5e5;
    --theme-black: #00061a;
}
.banner .masthead{
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: calc(2vw + 16px);
    padding: 40px 0;
    color: var(--theme-red);
    margin: auto;
    border-bottom: 1px solid var(--theme-red);
}
.main-section{
    width: 100vw;
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    /* border-radius: 8px; */
    border: 1px solid lightgray;
}
#landing{
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    text-align: center;
    background: var(--theme-red);
    box-shadow: 0 0 8px 3px var(--theme-black);
    margin-top: 60px;
}
#start-button{
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
    width: 200px;
    height: 200px;
    opacity: .6;
    border: none;
    font-size: 1.2em;
    text-transform: uppercase;
    color: var(--theme-blue);
    font-weight: bold;
    margin: auto;
    text-align: center;
    animation: animateStartButton 2500ms ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes animateStartButton {
    from {transform: scale(1); opacity: .9}
    to {transform: scale(1.4); opacity: 1.4}
}
.main-nav{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    background: var(--theme-blue);
}
.main-nav > .link{
    cursor: pointer;
    padding: 8px 12px;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
    color: white;
    transition: background 150ms ease-in-out;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 1px 0px 2px var(--theme-white);
    transition: box-shadow 150ms ease-in-out;
}

.active-lesson-level, .beginner-lesson-nav > .active-lesson-level{
    background: var(--theme-red);
    color: white;
}
.section-title{
    padding-top: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 1.3em;
    color: var(--theme-red);
}

.item-box{
    position: relative;
    height: 300px;
    width: 430px;
    margin: 1px auto;
    background: var(--theme-blue);
}
.lesson-title{
    background: var(--theme-red);
    color: var(--theme-white);
    padding: 5px 0;
    margin: 5px 0;
    width: 100%;
    max-width: 430px;
    margin: auto;
}
.beginner-lesson-nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid var(--theme-red);
}
.beginner-lessons{
    width: 100%;
    margin: auto;
    max-width: 430px;
}
 .beginner-lesson-link{
    cursor: pointer;
    padding: 5px 8px;
    font-size: .9em;
    color: var(--theme-blue);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.beginner-lesson{
    position: relative;
    width: 100%;
    max-width: 430px;
    margin: auto;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 46%;
    color: rgb(27, 21, 21);
    display: inline;
    font-weight: bold;
    background: white;
    padding: 4px 8px;
}
.prev{
    left: 0;
}
.next{
    position: absolute;
    right: 0;
}
.prev:hover, .next:hover{
    background: black;
    color: white;
}


.nepali{
    text-align: center;
    font-size: 4em;
    padding-top: 100px;
    font-weight: bolder;
    color:var(--theme-white);
}
.english{
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 24px;
    color: var(--theme-white);
}
.audio{
    position: absolute;
    color: var(--theme-white);
    bottom: 0;
    right: 0;
}

footer{
    padding: 10px 0;
    margin-top: 40px;
    background: var(--theme-blue);
    color: white;
}